{%extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf%} {%block content%}
<h2 class="text-center">Blogs</h2>

{%if blogs%} {%for blog in blogs%}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div
        class="card mb-5"
        style="box-shadow: 5px 5px 5px 5px rgba(43, 226, 89, 0.157)"
      >
        <div
          class="card-title text-center"
          style="box-shadow: 5px 5px rgb(43, 226, 119)"
        >
          <h4><i>{{blog.title}}</i></h4>
        </div>
        <div class="card-body">
          <p>{{blog.blog}}</p>
        </div>
        <div class="card-footer">
          <p class="fw-bolder">
            {{current_user.username}} posted on
            {{blog.posted.strftime('%Y-%m-%d')}}
          </p>
          <a href="{{url_for('main.comment',id=blog.id)}}">add a comment</a>
        </div>
      </div>
    </div>
  </div>
</div>
{%endfor%} {%endif%}
<div class="col-md-4">
{{wtf.quick_form(subscription_form)}}
</div>
<button
  class="border btn position-absolute start-50 end-50 mt-5 p-3 mb-5"
  style="background-color: rgba(95, 226, 43, 0.267)"
>
  <a class="ratings text-dark fw-bolder" href="/blog"> ADD BLOG</a>
</button>

{%endblock%}
